stages:
   - build
   - bugz

before_script:
   - sudo rm -rf /usr/local/etc/poudriere.d/ports/swills-freebsd-ports
   - sudo poudriere ports -c -m null -p swills-freebsd-ports -f none -M ${CI_PROJECT_DIR}
   - PORT_LIST=$(mktemp) ; git diff --name-only $(git merge-base origin/${CI_COMMIT_REF_NAME} origin/master) origin/${CI_COMMIT_REF_NAME} | egrep '('$(env PORTSDIR=${CI_PROJECT_DIR} make -V SUBDIR | sed -e 's/ /|/g')')' | cut -d/ -f 1,2 | sort -u | sed -e 's/$/@all/' > ${PORT_LIST} ; cat ${PORT_LIST}

head-amd64:
  tags:
    - FreeBSD
  stage: build
  script:
  - sudo nice -n 18 /usr/sbin/idprio 29 poudriere bulk -C -t -B ${CI_PIPELINE_ID} -j head-amd64 -p swills-freebsd-ports -f ${PORT_LIST}

120-amd64:
  tags:
    - FreeBSD
  stage: build
  script:
  - sudo nice -n 18 /usr/sbin/idprio 29 poudriere bulk -C -t -B ${CI_PIPELINE_ID} -j 120-amd64 -p swills-freebsd-ports -f ${PORT_LIST}

113-amd64:
  tags:
    - FreeBSD
  stage: build
  script:
  - sudo nice -n 18 /usr/sbin/idprio 29 poudriere bulk -C -t -B ${CI_PIPELINE_ID} -j 113-amd64 -p swills-freebsd-ports -f ${PORT_LIST}

add-keyword:
  tags:
    - FreeBSD
  allow_failure: true
  stage: bugz
  script:
  - OLDKW=$(bugz get 243258 | { grep Keywords || true ; } | sed -e 's/.*://g' -e 's/,//g' | xargs printf -- '--set-keywords %s ')
  - bugz modify ${OLDKW} --set-keywords buildisok 243258
  - bugz modify -c "Build info is available at ${CI_PROJECT_URL}/pipelines/${CI_PIPELINE_ID}" 243258
