before_script:
  - PORT_LIST=$(mktemp) ; git diff --no-prefix --name-only a2500d020638...origin/MFH/r481151/2018Q4 | egrep '('$(env PORTSDIR=${CI_PROJECT_DIR} make -V SUBDIR | sed -e 's/ /|/g')')' | cut -d/ -f 1,2 | sort -u | sed -e 's/$/@all/' > ${PORT_LIST}

head-amd64:
  stage: build
  script:
  - sudo nice -n 18 /usr/sbin/idprio 29 poudriere bulk -C -t -B ${CI_PIPELINE_ID} -j head-amd64 -p swills-freebsd-ports -f ${PORT_LIST}

112-amd64:
  stage: build
  script:
  - sudo nice -n 18 /usr/sbin/idprio 29 poudriere bulk -C -t -B ${CI_PIPELINE_ID} -j 112-amd64 -p swills-freebsd-ports -f ${PORT_LIST}

104-amd64:
  stage: build
  script:
  - sudo nice -n 18 /usr/sbin/idprio 29 poudriere bulk -C -t -B ${CI_PIPELINE_ID} -j 104-amd64 -p swills-freebsd-ports -f ${PORT_LIST}
