--- config.toml.example.orig	2018-02-08 14:44:53 UTC
+++ config.toml.example
@@ -1,6 +1,6 @@
 # Example Gitaly configuration file
 
-socket_path = "/home/git/gitlab/tmp/sockets/private/gitaly.socket"
+socket_path = "/usr/local/www/gitlab/tmp/sockets/private/gitaly.socket"
 
 # The directory where Gitaly's executables are stored
 bin_dir = "/home/git/gitaly"
@@ -13,13 +13,19 @@ bin_dir = "/home/git/gitaly"
 # prometheus_listen_addr = "localhost:9236"
 #
 
-# # Git executable settings
-# [git]
-# bin_path = "/usr/bin/git"
+# Git executable settings
+[git]
+bin_path = "/usr/local/bin/git"
 
 [[storage]]
 name = "default"
-path = "/home/git/repositories"
+path = "/usr/home/git/repositories"
+
+[gitaly-ruby]
+dir = "/usr/local/bin/ruby"
+
+[gitlab-shell]
+dir = "/usr/local/share/gitlab-shell/bin/gitlab-shell"
 
 # # You can optionally configure more storages for this Gitaly instance to serve up
 #
