--- chrome/browser/resources/settings/autofill_page/passwords_shared_css.html.orig	2022-02-07 13:39:41 UTC
+++ chrome/browser/resources/settings/autofill_page/passwords_shared_css.html
@@ -64,7 +64,7 @@
          * necessary to prevent Chrome from using the operating system's font
          * instead of the Material Design font.
          * TODO(dbeam): why not font: inherit? */
-<if expr="chromeos or lacros or is_linux">
+<if expr="chromeos or lacros or is_posix">
         font-family: 'DejaVu Sans Mono', monospace;
 </if>
 <if expr="is_win">
